<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="notification-index-list" id=" printers_<%= @user.id %>">
        <%= render 'profiles/printer', printers: printers %>
      </ul>
    </div>
  </div>
</div>
