<%= render 'top_show', user: @user, footers: @footers, posts2: @posts2, posts: @posts, botao: @botao %> 
  <div id="my-posts">
    <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="notification-index-list" id=" printers_<%= @user.id %>">
        <%= render 'profiles/printer', printers: @printers %>
      </ul>
    </div>
  </div>
</div>
  </div>
  <!-- Pagination -->
<%= render 'footer_show', user: @user, footers: @footers, posts2: @posts2, posts: @posts, posts_all: @posts_all %>

