.dropdown.notification-dropdown{style: 'margin:0px;'}
  %button.btn.btn-default.dropdown-toggle{class: 'w3-light-grey', style:'padding:0px 6px', type: 'button', id: 'dropdownMenu1', data: { toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': true }
    %i.fa.fa-cog{style: ' color:#A5A7AA'}
    %span.glyphicon.glyphicon-chevron-down{style: ' color:#A5A7AA'}
  %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1',style: 'width:100px' }
    %li.text-center= link_to "Excluir Pedido Atual",pedido_destroy_path(@user.user_name, pedido), method: :delete, data: { confirm: "Tem certeza que deseja excluir esse Projeto?" }
    %li.divider{ role: 'separator' }
    %li.text-center= link_to "Excluir Todos",pedido_destroy_all_path(@user.user_name,pedido), method: :delete, data: { confirm: "Tem certeza que deseja excluir esse Projeto?" }