//$('#follow-button i').attr('class', 'fa fa-user fa-fw w3-margin-right');
$('#follow-button')//.attr('class', 'w3-padding w3-text-teal')
                   //.text('SEGUINDO')
                   .attr('href', "/<%= @user.user_name %>/unfollow_user")
                   .attr('id', 'unfollow-button');
$('.perfil_seguir').html('<i class="fa fa-pencil"></i>Seguindo</button>')
                   .css('background-color', '#aaaaaa');
	//.children('.fa fa-envelope fa-fw w3-margin-right').toggleClass('class','fa fa-user fa-fw w3-margin-right');