<style type="text/css">

/*!
 * Start Bootstrap - Clean Blog v3.3.7+1 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  font-size: 20px;
  color: #333333;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
a:hover,
a:focus {
  color: #0085A1;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 100px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #333333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085A1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
body > .btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #0085A1;
}

.container{
  width:;
}



</style>

    <!-- Navigation -->


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div class="intro-header" style="background-color: #009FAB">
        <div class="container">
            <div class="row">
                <div>
                    <div class="post-heading text-center">
                        <h1>Fazendo a varinha das varinhas</h1>
                        <h3>Neste tutorial você vai aprender a fazer a varinha mais poderosa do Universo!</h3>
                        <br>
                        <span class="meta">Postado por <a href=<%=profile_path(@user.user_name)%>><%=@user.completo%></a> 24 de Janeiro, 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
              <%= render "thiago_info" %>
              <div class="col-lg-8"  style='padding-left:0px;'>
                <p style="margin-top:0px;"">Você pode encontrar alguns modelos de varinhas no Olivaras, mas esse modelo específico foi obtido no thingiverse. Você vai encontrar o modelo 3D  neste <a href="https://www.thingiverse.com/thing:1069671">link</a>.</p>
                <p>Agora, imprimir com as especificações abaixo:</p>


                <blockquote>
                  Para a Varinha das varinhas:<br>
                  Material: PLA<br>
                  Resolução: 0.3 <br>
                  Preenchimento: 20%<br>
                  Suportes: Sim
                </blockquote>

                <p>Da uma olhada no resultado:</p>
                  
                <div style="width:1000px;">
                    
                  <img src="../images/elderwand.jpg" style="height:350px;width:250px;">
                  <img src="../images/elderwand2.jpg" style="height:350px;width:400px;">
                  <img src="../images/elderwand3.jpg" style="height:350px;width:250px;">
                </div>

                    <h2 class="section-heading">Agora vamos a montagem:</h2>

                    <p>Assim como nos filmes, a varinha da varinhas ficou em pedaços! Precisamos então colar essas duas metades. Para isso, você pode recorrer a uma mistura mágica: Superbonder + Bicarbonato de sódio ou Superbonder + algodão. Fique preparado para sujar seus dedos nessa etapa. </p>

                    <p>Dica: Acetona e água quente ajudam a remover superbonder dos seus dedos.</p>

                    <h2 class="section-heading">
                    Acabamento e pintura:</h2>

                    

                    <p>Bom, agora vamos lixar e aplicar o primer. O primer é o material usalizado para remover os defeitos do processo de impressão 3D(Aquelas camadinhas do processo de impressão 3D). Para um bom acabamento, primeiro lixamos, aplicamos o primer e depois lixamos novamente. Após esse processo de deposição e remoção de material, a varinha esta pronta para a pintura. </p>

                    <blockquote>        
          					Pintura de base: Verniz de madeira<br>
          					Cor: Mogno fosco<br><br>
          					Pintura externa: Tinta automotiva<br>
                    Cor: Cinza(Branco+Cinza)
          			</blockquote>

          			<p>Obs: Todo material que foi utilizado para o acabamento pode ser encontrado em uma loja de materiais de construção que não podemos falar o nome, mas que tem o mesmo nome de um grande mago do mundo da magia, nosso querido Merlin.</p>

                    <div style="width:1000px;">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/verniz_spray_moveis_madeira_verniz_mogno_fosco_lata_325_ml_87657024_0001_600x600.jpg" style="height:300px;width:300px;">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/tinta_spray_uso_geral_colorgin_preto_fosco_400ml_87871021_0001_600x600.jpg" style="height:300px;width:300px;">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/tinta_spray_uso_geral_premium_primer_cinza_rapido_colorgin_400ml_87871014_0001_600x600.jpg" style="height:300px;width:300px;">
                    </div>

                    <p>Apoś ter aplicado o primer, aplique varias camadas do verniz de madeira da cor mogno fosco. Lixe novamente a varinha e você vai ter como resultado um acabamento bem parecido com madeira. </p>


                    <div style="width:1000px;">
                    <img src="../images/elderwand4.jpg" style="height:400px;width:300px;">
                    <img src="../images/varinha3.jpg" style="height:400px;width:600px;">
                    </div>




                    <p>Para fazer a pintura final, aplique as tintas preta e branca sobre uma superfície branca(pode ser papel) e misture com um pincel. Quando encontrar uma tom de cinza que o agrade, remova quase toda a tinta do pincel e pincele a varinha de forma grosseira e rápida, você vai notar que aqueles buraquinhos da varinha não serão pintados e darão um efeito de "gasto e antigo" à nossa varinha.</p>


                    <h2 class="section-heading">Agora vamos fazer o estande da varinha</h2>
                    <br>

                    <div style="width:1000px;">
                    <img src="../images/elderwand5.jpg" style="height:500px;width:900px;">
                    
                    </div>

                    <p>Claro que você não pode ter a varinha das varinhas sem ter também esse estande incŕivel. Você vai encontrar o modelo 3D  desse estande neste <a href="http://www.thingiverse.com/thing:780636">link</a>.</p>
                    <p>Agora imprimar com as especificações abaixo:</p>


                    <blockquote>
                      Para o estande:<br>
                      Material: PLA<br>
                      Resolução: 0.3 <br>
                      Preenchimento: 20%<br>
                      Suportes: não
                    </blockquote>

                    <p>Da uma olhada no resultado:</p>
                  
                    <div style="width:1000px;">
                    
                    <img src="../images/estande2.jpg" style="height:350px;width:300px;">
                    <img src="../images/estande1.jpg" style="height:350px;width:600px;">
                    
                    </div>




                    <h2 class="section-heading">
                    Acabamento e pintura:</h2>

                    <p>Bom agora vamos lixar e aplicar o primer novamente. Faça como foi feito com a varinha.</p>


                    <blockquote>        
          					Pintura do estande: Tinta automotiva<br>
          					Cor: Qualquer cor que agrade você. Utilizamos preto neste exemplo, mas você pode utilizar o verniz de madeira que também deve ficar legal.<br><br>
          					Pintura da plaquinha: Tinta metalica + preto<br>
                    		Cor: Utilize alguma cor metalica misturada com preto para obter aquela aparência de enferrujado.
          			</blockquote>

                    <div style="width:1000px;">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/verniz_spray_moveis_madeira_verniz_mogno_fosco_lata_325_ml_87657024_0001_600x600.jpg" style="height:300px;width:300px;">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/tinta_spray_uso_geral_colorgin_preto_fosco_400ml_87871021_0001_600x600.jpg" style="height:300px;width:300px;">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/tinta_spray_metallik_colorgin_metalico_prata_350ml_87657094_0001_600x600.jpg" style="height:300px;width:300px;">
                    </div>

                    <p>Apoś ter aplicado o primer, pinte o estande de alguma cor que o agrade.</p>

                    <p>Para a pintura da plaquinha, primeiro aplique uma camada de preto sobre toda a peça. Dessa forma, quando aplicarmos a segunda camada, as letras da paquinha vão ficar com uma coloração mais escura e com um aspecto de objeto antigo. Agora para a segunda camada faça umas mistura com a tinta metálica e preta utilizando um pincel. Quando obter a cor desejada, tire quase toda a tinta do picel e o esfreque sobre a plaquinha de forma grosseira. É um processo semelhante ao que utilizamos para pinta a varinha. Confere só o resultado:</p>

                    <div style="width:1000px;">
                    <img src="../images/estande4.jpg" style="height:500px;width:900px;">
                    
                    </div>


					<p>Agora vamos colar a plaquinha no centro do estande com aquela boa e velha super cola. Pronto! Agora, além dominar todos os feitiços do mundo bruxo, você pode utilizar sua varinha para enfeitar seu quarto!</p>

                    <div style="width:1000px;">
                    <img src="../images/elderwand6.jpg" style="height:500px;width:900px;">
                    
                    </div>



                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.instagram.com/beeprinted/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/beeprinted/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href=<%=root_path%>>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Beeprinted 2017</p>
                </div>
            </div>
        </div>
    </footer>


<style type="text/css">
	
p {
    text-align: justify; 

}

</style>