<style type="text/css">

/*!
 * Start Bootstrap - Clean Blog v3.3.7+1 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  font-size: 20px;
  color: #333333;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
a:hover,
a:focus {
  color: #0085A1;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 100px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #333333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085A1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
body > .btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #0085A1;
}

.container{
  width:;
}



</style>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div class="intro-header" style="background-color: #009FAB">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading text-center">
                        <h1>Você é um jovem padawan da impressão 3D?</h1>
                        <h3>Neste tutorial você vai aprender a utilizar a força para fazer sua primeira impressão 3D</h3>
                        <span class="meta">Postado por <a href=<%=profile_path(@user.user_name)%>><%=@user.completo%></a> 24 de Janeiro, 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
              <%= render "thiago_info" %>
              <div class="col-lg-8"  style='padding-left:0px;'>

                    <h2>
                    Primeiro passo: Calibração da impressora</h2>

                    

                    <p>Bom, nesta etapa sua impressora já está montada e quase pronta para uso. Mas, para que sua impressão fiquei perfeita, é necessário primeiro calibrar a sua impressora. Algumas impressoras possuem equipamento de auto nivelamento da mesa, o que facilita muito sua vida. Mas, se sua impressora não faz isso, faça o seguinte:</p>
                    <p>
                      -Inicie a sua impressora e procure pelo botão de auto-home.
                    </p>
                      <blockquote> 
                      Sua impressora vai posicionar o bocal de acordo com os sensores de fim de curso.
                      </blockquote>
                      <p>
                      -Coloque uma folha entre o bocal e a mesa.  
                      </p>

                      <blockquote>        
                        O objetivo agora é deixar a distância do bocal à mesa igual a espessura da folha de papel. Existem 2 ajustes para regular essa altura: Mudar a posição do sensor de fim de curso e mudar a altura da mesa.
            			   </blockquote>
                      <p>
                      -Faça o ajuste mais grosseiro mudando a altura do sensor de fim de curso da impressora.  
                      </p>

                      <blockquote>        
                        Verifique a distância que sobrou após usar a opção de auto-home e mova o sensor.
                     </blockquote>
                      <p>
                      Faça o ajuste fino apertando ou afrouxando os parafusos que ligam a mesa à estrutura da impressora.  
                      </p>

                      <blockquote>        
                        Use o painel da impressora para mover os eixos X e Y e posicionar o bocal em diferentes pontos da impressora. Efetue esse ajuste fino em diferentes pontos da impressora.
                     </blockquote>


                    <h2 class="section-heading">
                    Segundo passo: Preparação da mesa</h2>

                      <p>
                      Para esta etapa, eu utilizo sobre a mesa aquecida um vidro de 3mm. Este vidro tem por objetivo evitar danificar a mesa aquecida e melhorar a adesão da primeira camada. Para prender o vidro, eu utilizo essas presilhas da foto abaixo.  
                      </p>

                      <p>
                      Bom, a preparação da mesa também depende do tipo de filamento que está utilizando. Abaixo escrevi a melhor solução que encontrei para cada tipo de filamento:  
                      </p>

                      <blockquote>        
                        Use o painel da impressora para mover os eixos X e Y e posicionar o bocal em diferentes pontos da impressora. Efetue esse ajuste fino em diferentes pontos da impressora.
                     </blockquote>



                    <p>Para PLA:</p>
                    <blockquote>  

                         A melhor solução que encontrei nesse caso foi utilizar spray de cabelo. Eu considero essa a melhor solução porque a adesão da primeira camada é muito boa e é bem fácil de preparar o vidro para uma nova impressão. Basta criar uma fina película de sobre o vidro e pronto!
                    </blockquote>



                    <p>Para ABS:</p>

                    <blockquote>  
                         Após várias tentativas, encontrei a solução perfeita para imprimir em ABS: “Suco de ABS”. Essa solução nada mais é do que ABS dissolvido em Acetona. Mas atenção, a acetona que você encontra em farmácias possui uma concentração muito baixa para dissolver o ABS. Como o comércio de Acetona pura é controlado pelo governo, vamos utilizar uma outra alternativa: Solução preparadora da marca tigre. Essa solução tem concentração de acetona mais que suficiente para dissolver o ABS, custa em torno de 27 reais o litro e pode ser encontrada facilmente em lojas de construção.
                    <div style="width:900px;height:400px;overflow: hidden;position: relative; ">
                    <img src="https://s3-sa-east-1.amazonaws.com/leroy-production//uploads/img/products/solucao_limpadora_frasco_200cc_tigre_85302126_0001_600x600.jpg" style="position:absolute; top:-100px;">
                    </div>
                          Para preparar essa solução vamos despejar em um recipiente alguns pedaços de ABS e a acetona e aguardar algum tempo. Acrescente a quantidade de plástico e acetona para encontrar uma solução viscosa como na foto. Utilize algum pincel ou espátula para aplicar uma camada de “suco” sobre o vidro. Pronto! Em poucos segundo a acetona evaporará e deixar sobre o vidro uma fina camada de ABS que vai facilitar a adesão da primeira camada.
                    </blockquote>
                    <p>IMPORNTATE: Utilize um recipiente de vidro, polietileno(HDPE) ou Polipropileno(PP) para fazer a mistura. Como você já sabe, ABS pode dissolver alguns tipos de plástico.</p>

                    <h2 class="section-heading">
                    Terceiro passo: Preparação dos modelos</h2>



                      <p>
                          Hoje em dia, o tipo de arquivo mais utilizado para representar objetos tridimensionais é o STL. Modeladores utilizam programas como o Blender, SolidWorks e zBrush para criar modelos 3D e gerar arquivos STL. É possível também obter arquivos STL através de sites como o myminifactory, thingiverse e aqui mesmo, na Beeprinted. Mas a linguagem das impressoras 3D não é o STL, e sim o gcode. Você pode entender da seguinte forma: STL seria um terreno e gcode seria o mapa criado para ajudar a sua impressora a percorrer esse terreno da maneira correta. Ou seja, nesta etapa vamos aprender a criar nosso mapa a partir de um arquivo STL. 
                      </p>



                      <p>
                      Existem diversos programas utilizados para criar esse tipo de arquivo  gcode (Slic3r, simplify3d etc), mas neste tutorial vamos focar no software CURA. Esse software é bem difundido na comunidade e possui uma interface simples e intuitiva, além de ser totalmente gratuito.
                      </p>

(colocar imagem)
                      <p>
                      Bom, vamos la!
                      Faça a instalação do programa. Vai ser fácil. Porém fique atento em selecionar o modelo da sua impressora para que o CURA saiba qual firmware sua impressora possui. Após a instalação, clique na aba “Machine” e depois em “Machine settings”. Agora coloque as máximas dimensões que sua impressora consegue imprimir nos campos Maximum width(Largura), Maximum depth(Profundidade), Maximum height(Altura). 
                      </p>


                      <p>Configure o CURA de acordo com as tabelas abaixo. Na "advanced" será utilizada uma configuração padrão, enquanto na aba "basic" a configuração dependera do tiplo de plastico que você vai utilizar. Colocamos a configuração padrão para ABS e PLA.
                      </p><br>




                    <div style="width:1000px;">

                      <div style="position:relative;height:400;width:300;display:inline-block;">
                        <img src="../images/tabelaadvanced.jpg" style="height:400;width:300;position:absolute">
                        <div style="position:absolute; top:-40px;">
                          <h4>Configurações avançadas</h4>
                        </div>
                      </div>
                    
                      <div style="position:relative;height:400;width:300;display:inline-block;">
                      <img src="../images/tabelaPLA.jpg" style="height:400;width:300;position:absolute">
                        <div style="position:absolute;top:-40px;">
                          <h4>Configurações PLA</h4>
                        </div>
                      </div>
                    
                      <div style="position:relative;height:400;width:300;display:inline-block;">
                      <img src="../images/tabelaABS.jpg" style="height:400;width:300;position:absolute">
                        <div style="position:absolute;top:-40px;">
                            <h4>Configurações ABS</h4>
                        </div>

                      </div>                    

                    
                    </div>

                    <h2 class="section-heading">
                    Pronto! Sua impressora esta pronta para uso. Mão na massa.</h2>

                    <p>
                    Clique no ícone “Load” e carregue o arquivo STL que você deseja utilizar. Agora você pode visualizar, rotacionar, mudar a escala e multiplicar seu modelo 3D. Na parte superior esquerda você pode verificar o tempo de impressão e peso do seu modelo. Agora Clique no Ícone “Salvar” para gerar seu gcode. Salve em um cartão SD e insira na sua impressora. Agora basta selecionar o arquivo gcode recém gerado e aguardar a impressão ficar pronta!
                    </p>




                    <p>Para fazer a pintura final, aplique as tintas preta e branca sobre uma superfície branca(pode ser papel) e misture com um pincel. Quando encontrar uma tom de cinza que o agrade, remova quase toda a tinta do pincel e pincele a varinha de forma grosseira e rápida, você vai notar que aqueles buraquinhos da varinha não serão pintados e darão um efeito de "gasto e antigo" à nossa varinha.</p>

                    <h2 class="section-heading">
                    Quer saber mais?</h2>

                    <p>Agora que você já consegue imprimir e já sabe o básico, que tal aprender um pouco mais sobre os parâmetros de impressão? Abaixo eu fiz um breve resumo sobre cada parâmetro utilizado em impressoras FDM (Fused Deposition Modeling)
                    </p>





                    <blockquote>  
                        1. Quality.  Qualidade se refere a altura da camada. Quanto menor a altura da camada, mais camadas a impressão vai possuir e melhor será a qualidade da peça impressa. Você pode aumentar a altura de camada para imprimir mais rápido e obter uma peça de pior acabamento.<br>
                        2. Shell.  Casca se refere a espessura das paredes do seu modelo. Para esse parâmetro utilizamos um valor múltiplo do diâmetro do bocal “ Nozzle size” (1x, 2x, 3x, etc). Ou seja, como o diâmetro do bocal da nossa impressora é de 0.4mm, podemos utilizar os valores 0.8mm e 1.2mm como valores para espessura da parede “Shell Thickness”<br>
                        3. Infill. Define o preenchimento que seu modelo vai obter. Esse parâmetro define uma malha interna do modelo. Quanto maior o preenchimento, mais resistente será a sua peça e é possível escolher diferentes padrões de malha, como por exemplo hexagonal, quadrada, triangula etc.<br>
                        4. Speed. É o parâmetro que define a velocidade que a impressora utilizará para movimentar o bocal e a velocidade em que o plástico sairá do bocal. Geralmente quanto menor essa velocidade, melhor será a qualidade da impressão.<br>
                        5. Cooling. Refere-se ao processo de ventilação e resfriamento do material que acaba de sair do bocal. Esse é um fator muito importante para evitar falhas durante a impressão, principalmente imprimindo em PLA. 
                        6. Support. Esse parâmetro deve ser utilizado quando se deseja imprimir objetos que possuem partes que ficam “penduradas” durante o processo de impressão. Confira as imagens abaixo. O próprio programa é capaz de reconhecer regiões que precisam de suporte para serem impressas, o que facilita muito nossa vida.<br>
                        7. Build plate Adhesion. Esse parâmetro deve ser utilizado parar melhorar a adesão da peça com a base da impressora. Existem modelos que não possuem área suficiente na primeira camada para garantir que a peça não descole durante o processo de impressão. Nesses casos, utilizar as opções “raft” para cobrir toda a área abaixo da peça ou “Brim” para cobrir as áreas ao redor da peça (não cobre área abaixo da peça) .
                    </blockquote>



                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.instagram.com/beeprinted/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/beeprinted/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href=<%=root_path%>>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Beeprinted 2017</p>
                </div>
            </div>
        </div>
    </footer>



<style type="text/css">
  
p {
    text-align: justify; 

}

</style>