<div id="wrapper">
  <div id="columns">
    <% posts.each do |post| %>
    <div class="img-box">
      <a href=<%=post_path(post)%>><div class="hover-mask2"></div></a>
      <span class="product-icon icon-eye"></span>
      <%= link_to (image_tag post.image.url(:medium), class:"img-responsive project-image",alt:''), post_path(post) %>
    </div>
    <div class="product-info col-md-12">
      <p class="project-price">R$<%=%></p>
      <div>
        <h4 class="project-title"><%=post.caption%></h4>
      </div>
    </div>
      
    </div>
    <% end %>
  </div>
</div>
<style>

#wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 800px;
  margin: auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}


@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
</style>