<div id="wrapper">
  <div id="columns">
    <% posts.each do |post| %>
    <div class="pin">
      <%= link_to (image_tag item.image.url(:thumb), class:"w3-hover-opacity", style:'width:100%'), post_path(item) %>
      <ul>
        <li style='float:left'><p><b><%= item.caption %></b></p></li>
        <li style='float:right'><i class="fa fa-eye" aria-hidden="true"></i> <%=item.view%> <i class="fa fa-heart" aria-hidden="true"></i> <%=item.votes_for.up.by_type(User).size%> </li>
        </ul>
    </div>
    <% end %>
  </div>
</div>