<script src=<%= asset_path('pagination.js') %>></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
.w3-btn{
background-color: #6441a4;
}
</style>
<style>

/*
Ref:
Thanks to:
https://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/

body {   
}    
.filtro-btn{
  background-color:#fff;
  color: black;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  padding: 10px 18px;
}
.filtro-btn:hover {
  color: #009FAB;
}
.filtro-btn-azul{
  background-color:#009FAB;
  color:white;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
}
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.white-panel img {
  width: 100%;
  max-width: 100%;
}
.white-panel {
  position: absolute;
  background: white;
  border-radius: 5px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
</style>
<!--<script type="text/javascript" src="../assets/show_profile.js"></script>-->

<div class="w3-light-grey w3-content" style="max-width:1550px; padding-top: 45px">

<!-- Sidenav/menu -->

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style='background-color: #fff;'>

  <!-- Header -->
  <div class="w3-container" id="portfolio">
    <div class="w3-section w3-padding-16" style='border-bottom:4px solid #ccc'>
      <span class="w3-margin-right">Filtro:</span>
      <button class="filtro-btn-azul" id="Todos"><i class="fa fa-photo w3-margin-right"></i>Todos</button>
      <button class="filtro-btn" id="Arte"><i class="fa fa-print w3-margin-right"></i>Arte</button>
      <button class="filtro-btn" id="Fashion"><i class="fa fa-diamond w3-margin-right"></i>Fashion</button>
      <button class="filtro-btn" id="Gagdets"><i class="fa fa-map-pin w3-margin-right"></i>Gadgets</button>
      <button class="filtro-btn" id="Hobby"><i class="fa fa-map-pin w3-margin-right"></i>Hobby</button>
      <button class="filtro-btn" id="Para Casa"><i class="fa fa-map-pin w3-margin-right"></i>Para Casa</button>
      <button class="filtro-btn" id="Aprendizado"><i class="fa fa-map-pin w3-margin-right"></i>Aprendizado</button>
      <button class="filtro-btn" id="Modelos"><i class="fa fa-map-pin w3-margin-right"></i>Modelos</button>
      <button class="filtro-btn" id="Ferramentas"><i class="fa fa-map-pin w3-margin-right"></i>Ferramentas</button>
      <button class="filtro-btn" id="Brinquedos e jogos"><i class="fa fa-map-pin w3-margin-right"></i>Brinquedos e jogos</button>
      <button class="filtro-btn" id="Outros"><i class="fa fa-map-pin w3-margin-right"></i>Outros</button>
    </div>
  </div>
<section id="pinBoot">
	<div id="my-posts">
  		<%= render 'galeria/projects', posts: @posts %>
	</div>

	<div id="infinite-scrolling">
  		<%= will_paginate @posts %>
	</div>

  <!-- Footer -->

<!-- End page content -->
</section>
</div>

</div>